* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
}

.loader-container {
    background-color: #23272a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 16px solid #2c2f33;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}